h1{
text-align: center;
}
.imgs{
    margin-left: 340px;
    margin-top: 30px;
}
.imgs2{
    margin-left: 690px;
    margin-top:-192px;

}
.imgs3{
    margin-left: 340px;
    margin-top: 12px;
}
.imgs4{
    margin-left: 690px;
    margin-top:-191px;
}